/* BorrowBookForm.css */

/* Style the form container */


/* Style form labels */
.custom-label {
    display: block;
    font-weight: bold;
    margin-bottom: 8px;
}

/* Style form input fields */


/* Style the submit button */
button[type="submit"] {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

.status-label {
    width: auto;
    padding: 10px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    /* Custom background color */
    font-size: 16px;
    /* Custom font size */
    color: #333;
    /* Custom text color */
}