/* AddBookForm.css */
.add-book-form {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.add-book-form h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
}
.custom-label {
    /* Styles for the custom label */
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #100d0c;
    /* Custom label text color */
}
.custom-label {
    /* Styles for the custom label */
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #130f0d;
    /* Custom label text color */
}
.add-book-form label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.add-book-form input[type="text"],
.add-book-form input[type="number"],
.add-book-form input[type="date"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.add-book-form button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.add-book-form button:hover {
    background-color: #0056b3;
}
button[type="submit"] {
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    padding: 5px 8px;
    font-size: 16px;
    margin-right: 10px;
    display: inline-block;
    width: auto;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}