/* UpdateBookForm.css */

/* Style for the "Update Book" button */
.update-button1 {
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    padding: 3px 6px;
    font-size: 12px;
    /* Adjust the font size as needed */
    margin-right: 10px;
    display: inline-block;
}

.update-button1:hover {
    background-color: #0056b3;
    /* Darker blue color on hover */
}