/* UpdateUserForm.css */

/* Style for the success message */
.success-message {
    color: #006400;
    /* Deep green color for success message */
    font-weight: bold;
}

/* Style for the "Update User" button */
.update-button {
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    padding: 3px 6px;
    font-size: 16px;
    margin-right: 10px;
    display: inline-block;
    margin-bottom: 5px;
    width: auto;
}

.update-button:hover {
    background-color: #0056b3;
}

/* Style for the "Cancel" button */
.cancel-button {
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    padding: 3px 6px;
    font-size: 16px;
    margin-right: 10px;
    display: inline-block;
    width: auto;
        
}

.cancel-button:hover {
    background-color: #0056b3;
}

/* Style for the form container */
/* Add more styles as needed */