
.custom-table5 {
    border-collapse: collapse;
    width: 95%;
    margin: 20px;
}

.borrowed-books table {

    border-collapse: collapse;
    width: 95%;
    border-Spacing: '0px 15px'
}

.custom-table5 th,
.custom-table5 td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
}

.table-container {
    display: flex;
    justify-content: center;


}

.custom-table5 th {
    background-color: #393146;
    color: white;
    text-align: center;
    padding: 15px;
    border-bottom: 2px solid #ddd;
    margin-right: 5px;
}

.custom-table5 td {
    background-color: #f2f2f2;
}